{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}

{% if authors is not none %}
    <p class="author">©{{year}} {{authors}}</p>
{%endif %}
{% if email is not none %}
    <p class="email">Contact: <a href="mailto:{{email}}">{{email}}</a></p>
{%endif %}
{% if license is not none %}
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    
{%endif %}
<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="{{root}}static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="info">Powered by GitBuilding</span>
</a>
