{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}

{% if authors is not none %}
    <p class="author">©{{year}} {{authors}}</p>
{%endif %}
{% if email is not none %}
    <p class="email">Contact: <a href="mailto:{{email}}">{{email}}</a></p>
{%endif %}
{% if license is not none %}
    <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
    
{%endif %}
<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="{{root}}static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="info">Powered by GitBuilding</span>
</a>
