{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}

<p class="email">Contact: <a href="mailto:{{email}}">{{email}}</a></p>


<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" height="28" />
</a>
<br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0 International License</a>.
<br/>
<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="{{root}}static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="info">Powered by GitBuilding</span>
</a>
