{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}

<div class=header-text>
{% if title is not none %}   
    <h1 class="site-title">{{title}}</h1>
{%endif %}
{% if subtitle is not none %}
    <p class="site-subtitle">{{subtitle}}</p>
{%endif %}
{% if authors is not none %}   
    <p class="author">by {{authors}}</p>
{%endif %}
{% if affiliation is not none %}
    <p class="affiliation">{{affiliation}}</p>
{%endif %}
</div>
<a href="http://tdr.libre.org.ar/en"> English</a>
