{#
SPDX-FileCopyrightText: 2023 Tecnología de Raíz <tecnologiaderaiz@disroot.org>

SPDX-License-Identifier: CC0-1.0
#}

<h1><a href="index.html">Tecnología de Raíz</a></h1>

<a href="https://tdr.libre.org.ar">Español</a>
